@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-red-retro : #FF5A5F;
  --color-torqouise-retro : #00A669;
  --color-yellow-retro : #FFB400;
  --color-purple-retro: #581845;
}

.list-custom {
  @apply relative flex items-center gap-x-2 overflow-hidden p-4 text-sm font-bold tracking-wide rounded-md bg-blue-400 text-black border-none outline-none cursor-pointer;

  span {
    @apply relative z-10 transition-colors duration-400 group-hover:text-white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background: #dedede;
    transform: skew(30deg);
    z-index: 0;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  &:hover::before {
    transform: translate3d(100%, 0, 0);
  }
}

/* html,
body {
  height: 100%;
  margin: 0;
} */
